{% extends "base_template.html" %}

{% block title %}B2EB Clusters{% endblock %}

{% block styles %}
<style>
iframe.b-iframe {
  height: 40em;
  width: 50em;
  }
</style>
{% endblock %}

{% block headscripts %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="/static/js/jquery.bpopup.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
<script src="/static/js/jquery.stickyheader.js"></script>
{% endblock %}


{% block content %}
<header>
    <h1>Stat B2EB <span>Cluster List</span></h1>	
</header>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Owner</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
        {% if request.user.is_superuser%}
<tr><td class="system-name"></td><td class="system-notes"></td><td class="system-owner"><a href="" id="plus_button" class="plus_button" style="float:right;">+</a></td></tr>               
{% endif %}	
{% if myClusters %}
{% for cluster in myClusters %}
<tr {%if request.user == cluster.owner %}style = "background-color: #24EC76;border-bottom: 3pt solid #1BD222;border-top: 3pt solid #1BD222;"{% endif %}><td class="system-name"><a href="/clusters/detail/{{cluster.pk}}">{{cluster.name}}</a></td><td class="system-owner"><a href = "/clusters/ownedby/{{cluster.owner}}">{{cluster.owner}}</a></td> <td class="system-notes">{{cluster.notes}} {% if request.user.is_superuser or request.user == cluster.owner or not cluster.owner %}{% if request.user.username %}<a href="" class="xfer_button" id="xfer_button_{{cluster.pk}}" style="float:right; margin-right: .5em;">Transfer</a>{% endif %}{% endif %}</td></tr>
{% endfor %}
{% endif %}
					
        </tbody>
    </table>
{% endblock %}

{% block footscripts %}
    <script>
    {% for cluster in myClusters %}
    {% if request.user.is_superuser or request.user == cluster.owner or not cluster.owner %}{% if request.user.username %}
;(function($) {
        $(function() {
            $('#xfer_button_{{cluster.pk}}').bind('click', function(e) {
                e.preventDefault();
                $('#edit_pop_up').bPopup({
            content:'iframe',
            contentContainer:'.content',
            loadUrl: '/clusters/changeowner/{{cluster.pk}}/' //Uses jQuery.load()
            });
            });
         });
     })(jQuery);
     {% endif %}
     {% endif %}
     {% endfor %}
     
     {% if request.user.is_superuser%}
    ;(function($) {
        $(function() {
            $('#plus_button').bind('click', function(e) {
                e.preventDefault();
                $('#edit_pop_up').bPopup({
            content:'iframe',
            contentContainer:'.content',
            loadUrl: '/clusters/edit/-1/' //Uses jQuery.load()
            });
            });
         });
     })(jQuery);
    {% endif %}
    </script>
{% endblock %}
