<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>B2EB Clusters</title>
		<link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/main.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/component.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/buttons.css" />
		<!--[if IE]>
  		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="/static/js/jquery.bpopup.min.js"></script>

<style>
iframe.b-iframe {
  height: 40em;
  width: 50em;
  }
</style>

        </head>
    
    
<body>

<!-- Edit mode pop up holder-->

<div style="left: 275.5px; position: absolute; top: 1950px; z-index: 9999; opacity: 1; display: block; height: auto; display:none;" id="edit_pop_up">
        <span class="button b-close"><span>X</span></span>
        <div style="height: auto; width: auto; background-color:white;" class="content"></div>
</div>

    
    
		<div class="container">
			<!-- Top Navigation -->
			<div class="codrops-top clearfix">
				<a class="codrops-icon codrops-icon-prev" href="/"><span>STAT - B2EB</span></a>
								<span class="right">{% if request.user.is_authenticated %}
    <span>Welcome, {{ request.user.get_username }}. Thanks for logging in. <a href="/accounts/logout/">Logout</a></span>
{% else %}
    <span><a href="/accounts/login/?next=/clusters/">Please log in.</a></span>
{% endif %}
</span>
			</div>
			<header>
				<h1>Stat B2EB <span>Cluster List</span></h1>	
				<nav class="codrops-demos">
					<!--<a class="current-demo" href="index.html" title="Basic Usage">Basic Usage</a>-->
					<!--<a href="index2.html" title="Biaxial Headers">Biaxial Headers</a>-->
					<!--<a href="index3.html" title="Wide Tables">Wide Tables</a>-->
				</nav>
			</header>
			<!--<div class="component">
				<h2>Basic usage</h2>
				<p>Eating corn</p>-->
				<table>
					<thead>
						<tr>
							<th>Name</th>
							<th>Notes</th>
							<th>Owner</th>
						</tr>
					</thead>
					<tbody>
                    {% if request.user.is_superuser%}
<tr><td class="system-name"></td><td class="system-notes"></td><td class="system-owner"><a href="" id="plus_button" class="plus_button" style="float:right;">+</a></td></tr>               
{% endif %}
                    {% if myClusters %}
{% for cluster in myClusters %}
<tr {%if request.user == cluster.owner %}style = "background-color: #24EC76;border-bottom: 3pt solid #1BD222;border-top: 3pt solid #1BD222;"{% endif %}><td class="system-name"><a href="/clusters/detail/{{cluster.pk}}">{{cluster.name}}</a></td><td class="system-notes">{{cluster.notes}}</td><td class="system-owner">{{cluster.owner}} {% if request.user.is_superuser or request.user == cluster.owner %}<a href="" class="xfer_button" id="xfer_button_{{cluster.pk}}" style="float:right; margin-right: .5em;">Transfer</a>{% endif %}</td></tr>
{% endfor %}
{% endif %}
						
					</tbody>
				</table>
				
		</div><!-- /container -->

		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
		<script src="/static/js/jquery.stickyheader.js"></script>
	</body>
    <footer>
    <script>
    {% for cluster in myClusters %}
    {% if request.user.is_superuser or request.user == cluster.owner %}
;(function($) {
        $(function() {
            $('#xfer_button_{{cluster.pk}}').bind('click', function(e) {
                e.preventDefault();
                $('#edit_pop_up').bPopup({
            content:'iframe',
            contentContainer:'.content',
            loadUrl: '/clusters/changeowner/{{cluster.pk}}/' //Uses jQuery.load()
            });
            });
         });
     })(jQuery);
     {% endif %}
     {% endfor %}
     
     {% if request.user.is_superuser%}
    ;(function($) {
        $(function() {
            $('#plus_button').bind('click', function(e) {
                e.preventDefault();
                $('#edit_pop_up').bPopup({
            content:'iframe',
            contentContainer:'.content',
            loadUrl: '/clusters/edit/-1/' //Uses jQuery.load()
            });
            });
         });
     })(jQuery);
    {% endif %}
    </script>
    </footer>
</html>