{% extends "base_template.html" %}

{% block title %}Cluster {{mySystem.pk}} Details{% endblock %}

{% block styles %}
<style>
iframe.b-iframe {
  height: 40em;
  width: 50em;
  }
</style>
{% endblock %}

{% block headscripts %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="/static/js/jquery.bpopup.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
<script src="/static/js/jquery.stickyheader.js"></script>
{% endblock %}


{% block content %}
			<header>
                <td class="property-edit" style="float: right;">{% if request.user.is_superuser %}<a href="" class="minus_button" id="remove_button_cluster" style="float:right;">-</a><a href="" class="edit_button" id="edit_button_cluster" style="float:right; margin-right: .5em;">EDIT</a>{% endif %}</td>
				
                <h1>Cluster <span>{{myCluster.name}} => Detailed properties</span></h1>
                    {% if request.user.is_superuser or request.user == myCluster.owner %}<a href="" class="xfer_button" id="xfer_button_cluster" style="float:right; margin-right: .5em;">Transfer</a>{% endif %}
                <p>Note: {{myCluster.notes}}</p>
			</header>
			
			
						<h2>Systems:</h2>
				<table>
					<thead>
						<tr>
							<th>Name</th>
                            <th>Owner</th>
                            <th>Edit</th>
						</tr>
					</thead>
					<tbody>
{% if myCluster %}
{% for system in myCluster.systems.all %}
<tr><td class="property-name"><a href="/systems/detail/{{system.pk}}/">{{system.name}}</a></td><td class="property-owner">{{system.owner}}</td><td class="property-edit">{% if request.user.is_superuser %}<a href="" class="minus_button" id="remove_button_sys_{{system.pk}}" style="float:right;">-</a>{% endif %}</td></tr>
{% endfor %}
{% endif %}
{% if request.user.is_superuser %}
<tr><td class="property-key"></td><td class="property-value"></td><td class="property-edit"><a href="" class="plus_button" id="plus_system_button" style="float:right;">+</a></td></tr>
{% endif %}						
					</tbody>
				</table>
			
			
			<h2>Properties:</h2>
				<table>
					<thead>
						<tr>
							<th>Key</th>
                            <th>Value</th>
                            <th>File</th>
                            <th>Edit</th>
						</tr>
					</thead>
					<tbody>
{% if myCluster %}
{% for property in myCluster.properties.all %}
<tr><td class="property-key">{{property.key.name}}</td><td class="property-value">{{property.value}}</td><td class="property-file">{% if property.attachment %}<a href="{{ property.attachment.url}}" target = "_empty">{{property.attachment}}</a>{% else %}None{% endif %}</td><td class="property-edit">{% if request.user.is_superuser %}<a href="" class="minus_button" id="remove_button_prop_{{property.pk}}" style="float:right;">-</a><a href="" class="edit_button" id="edit_button_prop_{{property.pk}}" style="float:right; margin-right: .5em;">EDIT</a>{% endif %}</td></tr>
{% endfor %}
{% endif %}
{% if request.user.is_superuser %}
<tr><td class="property-key"></td><td class="property-value"></td><td class="property-edit"><a href="" class="plus_button" id="plus_property_button" style="float:right;">+</a></td></tr>
{% endif %}						
					</tbody>
				</table>
{% endblock %}

{% block footscripts %}
<script>
{% if request.user.is_superuser %}

;(function($) {
    $(function() {
        $('#plus_system_button').bind('click', function(e) {
            e.preventDefault();
            
            $('#edit_pop_up').bPopup({
        content:'iframe',
        contentContainer:'.content',
        loadUrl: '/clusters/addsystem/{{mypk}}/' //Uses jQuery.load()
        });
        });
     });
 })(jQuery);

;(function($) {
    $(function() {
        $('#plus_property_button').bind('click', function(e) {
            e.preventDefault();
            
            $('#edit_pop_up').bPopup({
        content:'iframe',
        contentContainer:'.content',
        loadUrl: '/clusters/propertyedit/-1/{{mypk}}/' //Uses jQuery.load()
        });
        });
     });
 })(jQuery);
 
{% for property in myCluster.properties.all %}
;(function($) {
    $(function() {
        $('#edit_button_prop_{{property.pk}}').bind('click', function(e) {
            e.preventDefault();
            
            $('#edit_pop_up').bPopup({
        content:'iframe',
        contentContainer:'.content',
        loadUrl: '/clusters/propertyedit/{{property.pk}}/{{mypk}}/' //Uses jQuery.load()
        });
        });
     });
 })(jQuery);
 
;(function($) {
    $(function() {
        $('#remove_button_prop_{{property.pk}}').bind('click', function(e) {
            e.preventDefault();
            
            $('#edit_pop_up').bPopup({
        content:'iframe',
        contentContainer:'.content',
        loadUrl: '/clusters/removeproperty/{{property.pk}}/{{mypk}}/' //Uses jQuery.load()
        });
        });
     });
 })(jQuery);
{% endfor %}

{% endif %}

{% for system in myCluster.systems.all %}
{% if request.user.is_superuser %}
;(function($) {
    $(function() {
        $('#remove_button_sys_{{system.pk}}').bind('click', function(e) {
            e.preventDefault();
            
            $('#edit_pop_up').bPopup({
        content:'iframe',
        contentContainer:'.content',
        loadUrl: '/clusters/removesystem/{{system.pk}}/{{mypk}}/' //Uses jQuery.load()
        });
        });
     });
 })(jQuery); 
{% endif %}
{% endfor %}


{% if request.user.is_superuser or request.user == myCluster.owner %}
;(function($) {
    $(function() {
        $('#xfer_button_cluster').bind('click', function(e) {
            e.preventDefault();
            
            $('#edit_pop_up').bPopup({
        content:'iframe',
        contentContainer:'.content',
        loadUrl: '/clusters/changeowner/{{mypk}}/' //Uses jQuery.load()
        });
        });
     });
 })(jQuery);
{% endif %}

{% if request.user.is_superuser %}
;(function($) {
    $(function() {
        $('#edit_button_cluster').bind('click', function(e) {
            e.preventDefault();
            
            $('#edit_pop_up').bPopup({
        content:'iframe',
        contentContainer:'.content',
        loadUrl: '/clusters/edit/{{mypk}}/' //Uses jQuery.load()
        });
        });
     });
 })(jQuery);
 
;(function($) {
    $(function() {
        $('#remove_button_cluster').bind('click', function(e) {
            e.preventDefault();
            
            
            $('#edit_pop_up').bPopup({
        content:'iframe',
        contentContainer:'.content',
        loadUrl: '/clusters/remove/{{mypk}}/' //Uses jQuery.load()
        });
        });
     });
 })(jQuery);
 {% endif %}

</script>
{% endblock %}