{% extends "base_template.html" %}

{% block title %}{{mySystem.type}} {{mySystem.pk}} Details{% endblock %}

{% block styles %}
<style>
iframe.b-iframe {
  height: 50em;
  width: 50em;
  }
</style>
{% endblock %}

{% block headscripts %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="/static/js/jquery.bpopup.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
<script src="/static/js/jquery.stickyheader.js"></script>
{% endblock %}


{% block content %}
<header>
    {% if request.user.is_superuser %}<td class="property-edit" style="float: right;"><a href="" class="minus_button" id="remove_button_system" style="float:right;">-</a><a href="" class="edit_button" id="edit_button_system" style="float:right; margin-right: .5em;">EDIT</a></td>{% endif %}
    {% if mySystem.type == "server" %}<a href=""><img id = "update_server_button" style = "float: right; margin: 15px 40px 10px 10px; clear:right;" src="/static/img/refresh_server_button.png"></a>{% endif %}
    <h1>{{mySystem.type}}<span>{{mySystem.name}} => Detailed properties</span></h1>
    <h2>ICN: {{mySystem.pk|add:100000}}<br>
	    Service Tag: {{mySystem.servicetag}}</h2>
    <p>Note: {{mySystem.notes}}</p>
    
</header>

    <table>
        <thead>
            <tr>
                <th>Key</th>
                <th>Value</th>
                <th>File</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
{% if mySystem %}
{% for property in mySystem.properties.all %}
<tr><td class="property-key">{{property.key.name}}</td><td class="property-value">{{property.value}}</td><td class="property-file">{% if property.attachment %}<a href="{{ property.attachment.url}}" target = "_empty">{{property.attachment}}</a>{% else %}None{% endif %}</td><td class="property-edit">{% if request.user.is_superuser %}<a href="" class="minus_button" id="remove_button_{{property.pk}}" style="float:right;">-</a><a href="" class="edit_button" id="edit_button_{{property.pk}}" style="float:right; margin-right: .5em;">EDIT</a>{% endif %}</td></tr>
{% endfor %}
{% endif %}
{% if request.user.is_superuser %}<tr><td class="property-key"></td><td class="property-value"></td><td class="property-file"></td><td class="property-edit"><a href="" class="plus_button" id="plus_button" style="float:right;">+</a></td></tr>{% endif %}
            
        </tbody>
    </table>
{% endblock %}

{% block footscripts %}
<script>
    {% if request.user.is_superuser %}
    ;(function($) {
        $(function() {
            $('#plus_button').bind('click', function(e) {
                e.preventDefault();
                
                $('#edit_pop_up').bPopup({
            content:'iframe',
            contentContainer:'.content',
            loadUrl: '/systems/propertyadd/-1/{{mypk}}/' //Uses jQuery.load()
            });
            });
         });
     })(jQuery);
     
    {% for property in mySystem.properties.all %}
    ;(function($) {
        $(function() {
            $('#edit_button_{{property.pk}}').bind('click', function(e) {
                e.preventDefault();
                
                $('#edit_pop_up').bPopup({
            content:'iframe',
            contentContainer:'.content',
            loadUrl: '/systems/propertyadd/{{property.pk}}/{{mypk}}/' //Uses jQuery.load()
            });
            });
         });
     })(jQuery);
     
    ;(function($) {
        $(function() {
            $('#remove_button_{{property.pk}}').bind('click', function(e) {
                e.preventDefault();
                
                $('#edit_pop_up').bPopup({
            content:'iframe',
            contentContainer:'.content',
            loadUrl: '/systems/propertyremove/{{property.pk}}/{{mypk}}/' //Uses jQuery.load()
            });
            });
         });
     })(jQuery);
    {% endfor %}
    
    ;(function($) {
        $(function() {
            $('#edit_button_system').bind('click', function(e) {
                e.preventDefault();
                
                $('#edit_pop_up').bPopup({
            content:'iframe',
            contentContainer:'.content',
            loadUrl: '/systems/systemedit/{{mypk}}/' //Uses jQuery.load()
            });
            });
         });
     })(jQuery);
     
    ;(function($) {
        $(function() {
            $('#remove_button_system').bind('click', function(e) {
                e.preventDefault();
                
                $('#edit_pop_up').bPopup({
            content:'iframe',
            contentContainer:'.content',
            loadUrl: '/systems/systemdelete/{{mypk}}/' //Uses jQuery.load()
            });
            });
         });
     })(jQuery);
    {% endif %}
    
    {% if mySystem.type == "server" %}
    ;(function($) {
        $(function() {
            $('#update_server_button').bind('click', function(e) {
                e.preventDefault();
                
                $('#edit_pop_up').bPopup({
            content:'iframe',
            contentContainer:'.content',
            loadUrl: '/systems/racadm_add_single/?host={{mySystem.owned_hostnames}}' //Uses jQuery.load()
            });
            });
         });
     })(jQuery);
    {% endif %}
    </script>
{% endblock %}