<style>
    .required label:after {
    color: #e32;
    content: ' *';
    display:inline;
    }
    .required { font-weight: bold; }
</style>
<form action="" method="POST">{% csrf_token %}
    {{form.as_p}}
    <button type="submit">Submit</button>
</form>