<html>
    <head>
    
    <style>
    .required label:after {
    color: #e32;
    content: ' *';
    display:inline;
    }
    .required { font-weight: bold; }
</style>
    
        <script>
            window.top.location.href = '{{ redirect_url }}';
        </script>
    </head>
    <body>Redirecting to <a href="{{redirect_url}}" target="_TOP">{{ redirect_url }}</a></body>
</html>