{% extends "base_template.html" %}

{% block title %}B2EB Systems{% endblock %}

{% block styles %}
<style>
iframe.b-iframe {
  height: 50em;
  width: 50em;
  }
</style>
<style>
    .required label:after {
    color: #e32;
    content: ' *';
    display:inline;
    }
    .required { font-weight: bold; }
</style>
{% endblock %}

{% block headscripts %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="/static/js/jquery.bpopup.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
<script src="/static/js/jquery.stickyheader.js"></script>
{% endblock %}


{% block content %}
<header>
    <h1>Stat B2EB <span>Systems List</span></h1> 
</header>

    <table>
        <thead>
            <tr>
				<th>ICN</th>
                <th>Name</th>
                <th>Type</th>
                <th>Service Tag</th>
                <th>Notes</th>
				<th>Location</th>
                <th>Owner</th>
            </tr>
        </thead>
        <tbody>
{% if request.user.is_superuser %}<tr><td class="system-name"></td><td class="system-name"></td><td class="system-type"></td><td class="system-notes"></td><td class="system-location"></td><td class="system-owner"><a href="" id="plus_button" class="plus_button" style="float:right;">+</a></td></tr>{% endif %}                    

        {% if mySystems %}
{% for system in mySystems %}
<tr><td class="ICN"><a href="/systems/detail/{{system.pk}}">{{system.pk|add:100000}}</a></td><td class="system-name"><a href="/systems/detail/{{system.pk}}">{{system.name}}</a></td><td class="system-type">{{system.type}}</td><td class="service-tag">{{system.servicetag}}</td><td class="system-notes">{{system.notes}}</td><td class="system-location">{{system.room.name}}/{{system.rack.name}}</td><td class="system-owner">{{system.owner}}</td></tr>
{% endfor %}
{% endif %}
            
        </tbody>
    </table>
{% endblock %}

{% block footscripts %}
 <script>
    {% if request.user.is_superuser %}
    ;(function($) {
        $(function() {
            $('#plus_button').bind('click', function(e) {
                e.preventDefault();
                $('#edit_pop_up').bPopup({
            content:'iframe',
            contentContainer:'.content',
            loadUrl: '/systems/systemedit/-1/' //Uses jQuery.load()
            });
            });
         });
     })(jQuery);
     {% endif %}
    </script>
{% endblock %}

