.xfer_button {
    -moz-box-shadow: inset 0px 1px 0px 0px #caefab;
    -webkit-box-shadow: inset 0px 1px 0px 0px #E9D7F7;
    box-shadow: inset 0px 1px 0px 0px #EBD5F5;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #B18FC5), color-stop(1, #B28ABF) );
    background: -moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
    background-color: #B893C7;
    -webkit-border-top-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-left-radius: 20px;
    text-indent: 0;
    border: 1px solid #7A5F88;
    display: inline-block;
    color: #FFF1FE;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    height: 35px;
    line-height: 35px;
    width: 75px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #D2B4E4;
}

.plus_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
	background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background-color:#77d42a;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #268a16;
	display:inline-block;
	color:#d4f0bd;
	font-family:Arial;
	font-size:47px;
	font-weight:bold;
	font-style:normal;
	height:35px;
	line-height:35px;
	width:70px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #aade7c;
}

.minus_button {
    -moz-box-shadow: inset 0px 1px 0px 0px #caefab;
    -webkit-box-shadow: inset 0px 1px 0px 0px #F1C7C7;
    box-shadow: inset 0px 1px 0px 0px #ECC9C9;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #DA6B6B), color-stop(1, #A95353) );
    background: -moz-linear-gradient( center top, #D42A2A 5%, #B81111 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D42A2A', endColorstr='#B81111');
    background-color: #D42A2A;
    -webkit-border-top-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-left-radius: 20px;
    text-indent: 0;
    border: 1px solid #8A1616;
    display: inline-block;
    color: #F0BDBD;
    font-family: Arial;
    font-size: 47px;
    font-weight: bold;
    font-style: normal;
    height: 35px;
    line-height: 25px;
    width: 70px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #DE7C7C;
}


.edit_button {
    -moz-box-shadow: inset 0px 1px 0px 0px #caefab;
    -webkit-box-shadow: inset 0px 1px 0px 0px #E9D7F7;
    box-shadow: inset 0px 1px 0px 0px #EBD5F5;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #B18FC5), color-stop(1, #B28ABF) );
    background: -moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
    background-color: #B893C7;
    -webkit-border-top-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-left-radius: 20px;
    text-indent: 0;
    border: 1px solid #7A5F88;
    display: inline-block;
    color: #FFF1FE;
    font-family: Arial;
    font-size: 35px;
    font-weight: bold;
    font-style: normal;
    height: 35px;
    line-height: 35px;
    width: 125px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #D2B4E4;
}

.plus_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
	background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
	background-color:#5cb811;
}

.minus_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #E33D35), color-stop(1, #E32A35) );
	background:-moz-linear-gradient( center top, #E33D35 5%, #E32A35 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#E33D35', endColorstr='#E32A35');
	background-color:#E32A35;
}

.edit_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #F270FF), color-stop(1, #E760E8) );
	background:-moz-linear-gradient( center top, #F270FF 5%, #E760E8 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F270FF', endColorstr='#E760E8');
	background-color:#E760E8;
}


.plus_button:active, .minus_button:active, .edit_button:active {
	position:relative;
	top:1px;
}