<!DOCTYPE html>
<!--rendered with base template-->
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}My page{% endblock %}</title>
        <!--default styles-->
        <link rel="stylesheet" type="text/css" href="/static/css/top-menu.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/component.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/buttons.css" />

        <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% block styles %}
        <!--no custom styles provided-->
        {% endblock %}
        
        {% block headscripts %}
        <!--no scripts provided-->
        {% endblock %}
        
    </head>
    <body>
        <!-- Edit mode pop up holder-->
        <div style="left: 275.5px; position: absolute; top: 1950px; z-index: 9999; opacity: 1; display: block; height: auto; display:none;" id="edit_pop_up">
        <span class="button b-close"><span>X</span></span>
        <div style="height: auto; width: auto; background-color:white;" class="content"></div>
        </div>


        <!--Main Menu-->
        
        <div id='cssmenu'>
<ul>
   <li><a href='http://b2eb.yourdomain.com'>B2EB Home</a></li>
   <li class='has-sub'><a href='/clusters'>Clusters</a>
      <ul>
         <li><a href='/clusters/all/'>All Clusters</a></li>
         <li><a href='/clusters/edit/-1/'>Add Cluster</a></li>
         <li><a href='/clusters/ownedby/{{request.user.username}}/'>My Clusters</a></li>
         <li><a href='/clusters/ownedby/None/'>Unassigned Cluster</a></li>
      </ul>
   </li>
   <li class='has-sub'><a href='/systems'>Assets</a>
      <ul>
         <li><a href='/systems'>View all B2EB asset entries</a></li>
         <li><a href='/systems/type/server/'>View all servers</a></li>
         <li><a href='/systems/type/vm/'>View all Virtual Machines</a></li>
         <li><a href='/systems/type/storage/'>View all Permanent Storage</a></li>
         <li><a href='/systems/type/memory/'>View all Memory</a></li>
         <li><a href='/systems/type/switch/'>View all Switches</a></li>
         <li><a href='/systems/type/router/'>View all Routers</a></li>
         <li><a href='/systems/type/power_management/'>View all Power Management</a></li>
         <li><a href='/systems/racadm_add/'>Import Physical Servers via RACADM</a></li>
         <li><a href='/systems/systemedit/-1/'>Add System by hand</a></li>
      </ul>
   </li>
   <li><a href='http://confluence.pdc.dell.com/display/AD/B2EB+Documentation' target='_blank'>B2EB Help</a></li>
   <li><a href='http://confluence.pdc.dell.com/display/AD/Request+a+cluster' target='_blank'>Request a cluster</a></li>
   <li><a href='http://jira.yourdomain.com/browse/AUTO-1601' target='_blank'>report a bug/request a feature</a></li>
   <li class='has-sub'><a href=''>Other Tools</a>
      <ul>
         <li><a href='http://cattle.yourdomain.com' target='_blank'>CATTLE</a></li>
         <li><a href='http://cowtracks.yourdomain.com' target='_blank'>Cowtracks</a></li>
      </ul>
   </li>
   <li>
   {% if request.user.is_authenticated %}
    <a href="/accounts/logout/">Welcome, {{ request.user.get_username }}. Thanks for logging in. (LOGOUT)</a>
{% else %}
    <a href="/accounts/login/?next=/clusters/">PLEASE LOGIN.</a>
{% endif %}
   </li>
</ul>
</div>
		<div class="container">
        {% block content %}
        {% endblock %}
        </div>
    </body>
    <footer>
    {% block footscripts %}
    <!--no scripts provided-->
    {% endblock %}
    </footer>
</html>
